.hero {
  background-image: url("https://source.unsplash.com/random/1920x400");
  background-size: cover;
}
.box {
  padding: 10px;
  text-align: center;
  font-size: 14px;
}
.centre-column {
  text-align: center !important;
}

.news-content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  height: 100px;
}

.subtitle {
  padding-top: 5px;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
